.advantages
    min-height: 475px
    padding: 70px 0 67px 0
    &__title
        font-size: 30px
        font-weight: bold
        text-transform: uppercase
        text-align: center
        color: $two-main-color
    &__items
        display: flex
        justify-content: space-between
    &__item
        width: 270px
        img
            display: flex
            justify-content: center
            margin: 65px auto 35px auto
        .text
            font-size: 18px
            font-weight: bold
            margin-bottom: 20px
            text-align: center
        .subtext
            font-size: 14px
            font-weight: 300
            line-height: 1.29
            text-align: center
            a
                color: $main-color
        